:root {
    --color-background : linear-gradient(180deg, rgba(23, 120, 221, 0.2) 41.92%, rgba(0, 0, 0, 0) 100%), #A3A4E5;
    --color-white: #FFFF;
    --color-accent:     #C6C2DE;
    --color-text-primary :  #25213B;
    --color-text-secondary :#6E6893;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--color-text-primary);
    background: var(--color-background);
    font-size: 1.4rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-Nutino-600{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
.font-Nutino-400{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.headline-01{
    font-size: 2.4rem;
}

.gallery-container{
    margin-top: 3rem;
    background-color: var(--color-white);
    padding: 3rem 3rem;
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
    border-radius: 1.5rem;
}

.info{
    color: var(--color-text-secondary);
    margin-top: 4rem;
}

.gallery{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 77rem;
    height: 59rem;
}

.contacts{
    margin-top: 2rem;
    width: 77rem;
    height: 59rem;
}


.gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-column{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    gap: 1rem;
}

.grid-row{
    display: grid;
    gap: 1rem;
}
.grid-2-1{
    grid-template-columns: 2fr 1fr;
}
.grid-1-2{
    grid-template-columns: 1fr 2fr;
}
.grid-1-1{
    grid-template-columns: 1fr 1fr;
}

.wh-100{
    width: 100%;
    height: 100%;
}

.flex-grow-2{
   flex-grow: 2
}

.grid-3{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    overflow: hidden;
    gap: 1rem;
}
.grid-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    gap: 1rem;
}
.nav-line{
    width: 100%;
    border-bottom: 0.1rem solid var(--color-accent)
}

.nav-line a{
    color: var(--color-text-secondary);
    font-weight: 400;
    text-decoration: none;
    padding: 1rem;
    line-height: 4rem;
}
.nav-line a:hover{
    color: var(--color-text-primary);
}
.selected{
    color: var(--color-text-primary) !important;
    font-weight: 600 !important;
    border-bottom: 0.3rem solid var(--color-text-primary)
}

.overlay{
    visibility: hidden;
    position: absolute;
}

.w-100{
    width: 100%;
}

.titles th{
    background-color: #F7F7F7;
    color: #2E2E2E;
    border-bottom: 1px solid #F2F2F2;
    text-align: left;
    padding: 1.5rem;
}

.row td{
    color: #2E2E2E;
    border-bottom: 1px solid #F2F2F2;
    text-align: left;
    padding: 1.5rem;
}

.row:hover{
    background-color: #e4e4e4;
}